<a href="https://colab.research.google.com/github/andresgabas/DSIII-/blob/main/Proyecto_final_DS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modelo de prediccion de fake news.

En este trabajo se utilizarÃ¡ la base de datos tweets.csv descargada de Kaggle del siguiente link: https://www.kaggle.com/datasets/vstepanenko/disaster-tweets.

Se intentarÃ¡ crear un modelo que prediga a partir del dataset elegido si los tweets de desastres son reales o no.


El dataset tiene las siguientes columnas:

id: NÃºmero para identificar el tweet.

Keyword: Es la palabra que indicarÃ­a que se trata de un desastre.

Location: De quÃ© paÃ­s es el tweet.

Text: Es el texto del tweet.

Target: Si el tweet es de un desastre real (1) o no es real (0)

In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/andresgabas/DSIII-/refs/heads/main/tweets.csv')
print(df)

          id  keyword                 location  \
0          0   ablaze                      NaN
1          1   ablaze                      NaN
2          2   ablaze            New York City
3          3   ablaze           Morgantown, WV
4          4   ablaze                      NaN
...      ...      ...                      ...
11365  11365  wrecked  Blue State in a red sea
11366  11366  wrecked               arohaonces
11367  11367  wrecked                       ðŸ‡µðŸ‡­
11368  11368  wrecked           auroraborealis
11369  11369  wrecked                      NaN

                                                    text  target
0      Communal violence in Bhainsa, Telangana. "Ston...       1
1      Telangana: Section 144 has been imposed in Bha...       1
2      Arsonist sets cars ablaze at dealership https:...       1
3      Arsonist sets cars ablaze at dealership https:...       1
4      "Lord Jesus, your love brings freedom and pard...       0
...                                                  ...     ...
11365  Media should have warned us well in advance. T...       0
11366  i feel directly attacked ðŸ’€ i consider moonbin ...       0
11367  i feel directly attacked ðŸ’€ i consider moonbin ...       0
11368  ok who remember "outcast" nd the "dora" au?? T...       0
11369     Jake Corway wrecked while running 14th at IRP.       1

[11370 rows x 5 columns]

In [14]:
df.shape

(11370, 5)

In [4]:
# prompt: remove column id, location

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/andresgabas/DSIII-/refs/heads/main/tweets.csv')
df = df.drop(['id', 'location','keyword'], axis=1)
df

                                                    text  target
0      Communal violence in Bhainsa, Telangana. "Ston...       1
1      Telangana: Section 144 has been imposed in Bha...       1
2      Arsonist sets cars ablaze at dealership https:...       1
3      Arsonist sets cars ablaze at dealership https:...       1
4      "Lord Jesus, your love brings freedom and pard...       0
...                                                  ...     ...
11365  Media should have warned us well in advance. T...       0
11366  i feel directly attacked ðŸ’€ i consider moonbin ...       0
11367  i feel directly attacked ðŸ’€ i consider moonbin ...       0
11368  ok who remember "outcast" nd the "dora" au?? T...       0
11369     Jake Corway wrecked while running 14th at IRP.       1

[11370 rows x 2 columns]

In [5]:
import spacy

In [6]:
df.shape

(11370, 2)

In [9]:
df.isnull().sum()

text      0
target    0
dtype: int64

In [11]:
df.target.value_counts()

target
0    9256
1    2114
Name: count, dtype: int64